# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# SQLite database
*.db

# Python packaging
dist/
build/

# macOS
.DS_Store

# Node
node_modules/
frontend/node_modules/

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

